.card {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: aliceblue;
}

.card__title {
  font-size: 2rem;
}

.card__text {
  font-weight: 200;
  font-family: "Courier New", Courier, monospace;
}

.card__text--small {
  font-size: 0.5rem;
}

.card__button {
  margin-top: 2rem;
}
