* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-width: 80rem;
  --sidebar-width: 12.5rem;
  --spacing-base: 1rem;
  --dark: hsl(0, 0%, 0%);
  --primary: hsl(240, 100%, 57%);
  --light: hsl(0, 0%, 100%);
  --faded: hsl(0, 0%, 84%);
  --font-base: 1rem;
  --font-md: 1.25rem;
  --pico-block-spacing-vertical: 0;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  & nav {
    --pico-primary: var(--dark);
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
}

main {
  flex: 1 0;
}

@supports (anchor-name: --foo) {
  body {
    background-color: red !important;
  }
}
