.navbar {
  display: flex;
  align-items: center;
  padding: var(--spacing-base) 0;

  & .navbar__link {
    background-color: transparent;
    color: inherit;
    border: none;
  }

  & a {
    margin: 0;
  }
}
